.card{
  width: 377px;
  /* height: 290px; */
  background-color: whitesmoke;
  margin: auto;
  margin-top: 140px;
  padding-top:24px;
  border-radius: 6px;
  position: relative;
}
.container{
  width: 345px;
  /* height: 187px; */
  margin: auto;
  text-align: center;
}
.task{
  display: flex;
  gap: 6px;
  width: 350px;
  height: 40px;
  margin: 24px 0;
}
.addButton{
  /* width: 2%; */
  /* color: white;
  background-color: rgb(64, 134, 245); */
  padding: 10px;
  border: none;
  border-radius:6px;
}
.tab{
  width: 345px;
  height:32px;
  gap: 6px;
  display: flex;
  justify-content: flex-start;
}
.all{
  width: 38px;
  /* background-color:rgb(64, 134, 245) ; */
  border: none;
  border-radius: 6px;
  color: gray;
}
.active{
  width: 60px;
  border: none;
  border-radius: 6px;
  background-color:white;
  color: gray;
}

.add{
  color: gray;
  margin-top:34px;
}
.academy{
  margin-top:34px;
  padding-bottom:20px ;
}
